Flask
Flask-Login
Flask-Session
flask-socketio
flask_socketio
flask_cors
itsdangerous
Jinja2
MarkupSafe
python-engineio
python-socketio
six
Werkzeug
eventlet
requests
colorama
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
